*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#080B12;
    color: white;

}

.debug{
    border: 1px solid white;
}
.big-container{
    width: 100%;
    height:100vh;
}
.container{
    width: 100%;
    height: calc(100% - 100px);
    background-color: #141922;
    display: flex;
}

main{
    width: calc(100% - 250px);

}
.main-container{
    height: 100%;
    width: 100%;
    overflow-y: auto;

}
/* barra sopra */

.top{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 1000;
    background-color: rgba(0,0,0,0.3);
    position: relative;
}
/* upgrade */
.upgrade{
    padding: 10px;
    font-size: 14px;
}

.upgrade a{
    position: absolute;
    top: 30px;
    right: 20px;
    color:#808080;
    text-decoration: none;
    text-transform: uppercase;
     padding: 5px;
    border: 1px solid #808080;
    border-radius: 20px;
    transition: 0.5s;

}
.upgrade a:hover{
    color: white;
    font-size:16px ;
    border-color: white;
}
/* main */
.nav-main{
    width: 100%;
}
.nav-main .list-main{
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 20px;
    
}
.nav-main .list-main a{
    color:#808080 ;
    text-transform: uppercase;
    text-decoration: none;
    transition: 0.5s;
}
.nav-main .list-main a:hover{
    color:white;
    padding-bottom:5px;
    border-bottom: 1px solid limegreen;

}

/* albums */
h2{
    padding: 10px;
}
.album{
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;

}
.row-top{
    width: calc(100% / 6 - 10px);
    /* min-height: 100%; */
}
.row-top-img{
    width: 100%;
    position: relative;
}
.row-top-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-overlay{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width:100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    opacity: 0;
    transition: 0.3s;
}
 .box-overlay:hover{
     opacity: 1;
}
.play i{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    color:#808080;
    font-size: 25px;
    visibility: hidden;
    transition: 0.3s;
}
.row-top-img:hover .play i{
    visibility: visible;
    opacity: 1;
    color: white;
}

.img-description{
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    padding: 5px; 
}
.img-description p{
    color: #808080;
}
/* row-middle */
.row-title p{
    padding-left: 10px;
    margin-bottom: 20px;
    color: #808080;
    }
 .card-container{
     display: flex;
     gap: 10px;
     padding-left: 5px;
 }
.card{
    width: calc(100% / 6 - 10px);

}
.card img{
    width: 100%;
}
.description-container{
    display: flex;
    text-align: center;
    padding-left: 5px;
    gap: 10px;
}
.card-description{
    width: calc(100% / 6 - 10px);
    padding: 10px;
    color: #808080;
}

/* round-img */
.round-container{
    display: flex;
    padding-left: 5px;
    padding-top: 10px;
    gap: 10px;

}
.round-card{
    width: calc(100% / 6 - 10px);
    border-radius: 50%;
    overflow: hidden;
}
.round-card img{
    width: 100%;
    height: 100%;

}
/* aside */

aside{
    width: 250px;
    background-color: #000000;
    height: 100%;
}
aside a:hover{
    border-left: 1px solid greenyellow;
}

aside .logo{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    overflow-y: auto;

}
aside .logo img{
    height: 40px;

}
/* nav-left */
.nav-left{
    height: 20%;
}
.nav-left img{
 height: 30px;
 vertical-align: middle;
}
.nav-left .contact{
    display: flex;
    flex-direction: column;
    list-style-type: none;

}
.nav-left .contact a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px;

}
.nav-left .contact li{
    margin-bottom: 20px;
}
/* playlist */
.playlist{
    padding: 10px;
    height: 50%;
    text-transform:capitalize;
    overflow-y: auto;
}
.playlist i{
    font-size: 40px;
    margin-top: 10px;
    vertical-align: middle;
    color: white;
}
.playlist a{
    color: #808080;
    text-decoration: none;
    padding-left: 5px;
}
.playlist a:hover{
    color: white;
}

.playlist li{
    margin-bottom: 20px;
} 

/* installa app */
.install-content{
    padding-top: 10px;
    height: 20%;
    margin-top: 10px;
    padding-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    
}
.user{
    display: flex;
    border-top: 3px solid #808080 ;
    padding-top: 10px;
    gap: 5px;
    text-transform: capitalize;
    
}

 .user img{
    height: 40px;
     width: 40px;
     border-radius: 50%;
     background-color: #808080;

}
/* footer */
footer{
    width: 100%;
    height: 100px;
    background-color:#282828 ;
    position: fixed;
    bottom:0;
    left:0;
}
.nav-bottom{
    display: flex;
    height: 100%;
}
/* nav-bottom left */
.nav-bottom-left{
    width: 25%;
    display: flex;
    align-items: center;
    gap: 10px;
}
.nav-bottom-left .brano{
    display: flex;
    align-items: center;
    width: 70px;
    height: 70px;
    margin-left: 10px;

}
.nav-bottom-left .brano img{
    width: 100%;

}
.nav-bottom-left .icons{
    padding-left: 25px;
}
/* bottom center */
.nav-bottom-center{
    width: 50%;
    line-height: 50px;

}
.nav-bottom-center .command{
    height: 50%;
}

.nav-bottom-right{
    width: 25%;

}
.command .command-top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    list-style-type: none;

}
.command .command-top .fa-solid{
    font-size: 23px;
    color: #808080;
    transition: all 0.5s ease;

}
.command .command-top .fa-solid:hover{
    color: white;
    font-size: 25px;

}

.command .command-bottom{
    display: flex;
    justify-content: center;
    gap: 15px;
    text-align: center;
}
.command .command-bottom p{
    font-size: 15px;
}
 /* bottom-right */

 .list-right{
     display: flex;
     justify-content: flex-end;
     gap: 10px;
     line-height: 100px;
     list-style-type: none;
 }

 .list-right .fa-solid{
     color: white;
 }
 /* mediaquery */

 @media screen and (max-width:768px) {
    .nav-main .list-main{
        width: 100%;
        flex-wrap: wrap;
    }
   
    .img-description h3{
        font-size:15px ;
 
    }
    .img-description p{
        font-size: 14px;
    }
    .album{
       justify-content: flex-start;
    }
    .card,
    .card-description,
    .round-card,
    .row-top{
        width: calc(100% / 4 - 10px);
    }
  
    .round-container{
        padding-bottom: 50px;
    }
    .title p{
        font-size: 12px;
    }
    .command .command-top .fa-solid{
        font-size:20px ;

    }
    .command .command-top .fa-solid:hover{
        font-size:22px ;

    }
    .command .command-top{
        gap: 35px;
    }
    .command .command-bottom{
        justify-content: center;
        gap: 15px;
    }
    .time-end,
    .time-start p{
        font-size: 12px;
    }
    .list-right i{
        font-size: 14px;
    }
    
 }
 /* media 2 */
 @media screen and (max-width:576px) {
    .card,
    .card-description,
    .round-card,
    .row-top{
        width: calc(100% / 2 - 10px);
    }
 }